body {
    background-color: black;
}

table, th, td {
	border: 2px dotted black
}

tr:nth-child(1)
{
	background-color: chartreuse;
	font: bold 16px Georgia, serif;
}

tr:nth-child(2)
{
	background-color: chartreuse;
	font: bold 16px Georgia, serif;
}

tr:nth-child(3)
{
	background-color: chartreuse;
	font: bold 16px Georgia, serif;
}

/*
EXAMPLE: second 4th child going down from top, previously yellow;
*/
tr:nth-child(4)
{
	background-color: chartreuse;
	font: bold 16px Georgia, serif;
}

tr:nth-child(5)
{
	background-color: chartreuse;
	font: bold 16px Georgia, serif;
}

tr:nth-child(6)
{
	background-color: chartreuse;
	font: bold 16px Georgia, serif;
}

h1 {
    color:white;
	text-shadow: 3px 2px black;
	font: bold 36px Georgia, serif;
}

h2 {
	color:white;
	text-shadow: 3px 2px black;
	font: bold 24px Georgia, serif;
}

h3 {
	color:white;
	text-shadow: 3px 2px black;
	font: bold 18px Georgia, serif;
}

div {
	color:black;
}


/* Dropdown Button */
.dropbtn {
  background-color: chartreuse;
  color: black;
  padding: 12px;
  border: 2px dotted black;
  cursor: pointer;
  font: bold 16px Georgia, serif;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: chartreuse;
  color: black;
  font: bold 16px Georgia, serif;
  border: 2px dotted black;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
